<!DOCTYPE html>
<html lang="it" data-ng-app="app">
<head>

	<title ng-bind="$root.whoAmI.user_data.ragione_sociale + ' - ' + $root.title">Xyz</title>

    <link rel="shortcut icon" href="{{$root.whoAmI.favicon.base}}" />
    <link rel="apple-touch-icon" href="{{$root.whoAmI.favicon.apple}}" /><!-- 57x57 -->
    <link rel="apple-touch-icon" sizes="72x72" href="{{$root.whoAmI.favicon.apple}}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{$root.whoAmI.favicon.apple}}" />

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />

	<link rel="stylesheet" type="text/css" href="./css/<%= grunt.config.get('pkg.name') %>.css"/>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="bootstrap.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.js"></script>

</head>

<body ng-controller="AppCtrl">
  <header ng-include="'main/header.tpl.html'" ng-controller="HeaderCtrl"></header>
  <div ng-view class="container-fluid"></div>
  <div ng-include="'main/footer.tpl.html'" ng-controller="FooterCtrl"></div>
</body>
</html>