
<div>
    <form name="form" novalidate class="login-form">
        <div class="modal-header">
            <h4 ng-show="isLogin">Sign in</h4>
            <h4 ng-hide="isLogin">Sign up</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" ng-show="authError">
                {{authError}}
            </div>
            <p class="login-input">
                <label>E-mail</label>
                <input name="login" type="email" ng-model="user.email" required autofocus>
            </p>
            <p class="login-input">
                <label>Password</label>
                <input name="pass" type="password" ng-model="user.password" required>
            </p>
        </div>
        <div class="modal-footer">
        
            <span id="googleSignIn" ng-init="renderGoogleSignInButton(signInCallback)">
                <span id="signInButton">
                </span>
            </span>

            <button class="btn btn-primary login" ng-click="login()" ng-show="isLogin" ng-disabled='form.$invalid'>Sign in</button>
            <button class="btn btn-primary login" ng-click="signup()" ng-hide="isLogin" ng-disabled='form.$invalid'>Sign up</button>
            <button class="btn clear" ng-click="clearForm()">Clear</button>
            <button class="btn btn-warning cancel" ng-click="cancelLogin()">Cancel</button>
        </div>
    </form>
</div>




  